@{
    ViewBag.Title = "Deal Mart | Best Deals";
}

<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />

<link href="assets/plugins/ionicons/css/ionicons.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/assets/plugins/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="~/assets/css/animated.css" />

<!-- Theme Css -->
<link href="~/Stylesheet/new.css" rel="stylesheet" />
<link href="~/Stylesheet/Car.css" rel="stylesheet" />

<body>
    <div class="container-fluid slider-area cd-section visible" style="padding-left: 0;padding-right: 0;">

        <div class="carousel slide media-carousel" id="carousel" data-ride="carousel">

            <div class="carousel-inner">
                <div class="item active ">
                    <img src="~/img/abstract.jpg" class="img-responsive animated zoomIn" style="transition-delay: 1s;">

                    <div class="carousel-caption">

                        <h1 class="animated lightSpeedIn">Dealmart-Home for All</h1>
                        <p class="animated zoomIn">We wont let you down.</p>
                    </div>

                </div>

                <div class="item ">
                    <img src="~/img/britney.JPG" class="img-responsive animated zoomInLeft">
                    <div class="carousel-caption">


                        <h1 class="animated rollIn">You are at right place.</h1>
                        <p class="animated zoomInRight">Explore Yourself</p>

                    </div>


                </div>

            </div>
            <a href="#carousel" class="left carousel-control" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
            <a href="#carousel" class="right carousel-control" data-slide="next"><i class="fa fa-chevron-right"></i></a>
        </div>

    </div><!--------------end of div slider-area-------------->
    </div>


    <section class="review dark">
        <div class="container">
            <div id="carousel">
                <div class="row">
                    <h1 class="center box-bottom no-background">Why People <span> Recommend Us </span> </h1>
                    <div class="col-md-12">
                        <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
                            <!-- Carousel indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                                <li data-target="#fade-quote-carousel" data-slide-to="2"></li>

                            </ol>
                            <!-- Carousel items -->
                            <div class="carousel-inner">

                                <div class="item active">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12 wow animated fadeInUp animated animated animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3 col-xs-12">  <div class="round_img">  <img src="~/img/ro.jpg"> </div>  </div>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <q> Dealer are very good.They treat us very well.This is my best shopping hub.PRoduct are of high quality in less price. </q>
                                                    <p class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> Black Panther </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-12 margin-t-20 wow animated fadeInUp animated animated animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3 col-xs-12"> <div class="round_img">  <img src="~/img/ch.jpg"> </div>  </div>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <q>Dealer are very good.They treat us very well.This is my best shopping hub.PRoduct are of high quality in less price. </q>
                                                    <p class="rating"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> IronMan </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12 wow animated fadeInUp animated animated animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3 col-xs-12">  <div class="round_img">  <img src="~/img/mou.jpg"> </div>  </div>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <q> Dealer are very good.They treat us very well.This is my best shopping hub.PRoduct are of high quality in less price. </q>
                                                    <p class="rating"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> Hulk </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-12 margin-t-20 wow animated fadeInUp animated animated animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3 col-xs-12"> <div class="round_img">  <img src="~/img/to.jpg"> </div>  </div>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <q>Dealer are very good.They treat us very well.This is my best shopping hub.PRoduct are of high quality in less price. </q>
                                                    <p class="rating"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> Vision </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12 wow animated fadeInUp animated animated animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3 col-xs-12">  <div class="round_img">  <img src=""~/img/ch.jpg""> </div>  </div>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <q> Dealmart is the ultimate place for any customer who want the good quality on good price. </q>
                                                    <p class="rating"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> Jarvis </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6 margin-t-20 wow animated fadeInUp animated animated animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3 col-xs-12"> <div class="round_img">  <img src="~/img/to.jpg"> </div>  </div>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <q> Dealmart is the ultimate place for any customer who want the good quality on good price. </q>
                                                    <p class="rating"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> Peter </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12 wow animated fadeInUp animated animated animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3 col-xs-12">  <div class="round_img">  <img src="~/img/mou.jpg"> </div>  </div>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <q>Dealmart is the ultimate place for any customer who want the good quality on good price. </q>
                                                    <p class="rating"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> Bibek Dahal </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-12 margin-t-20 wow animated fadeInUp animated animated animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3 col-xs-12"> <div class="round_img">  <img src="~/img/ro.jpg"> </div>  </div>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <q> Dealmart is the ultimate place for any customer who want the good quality on good price. </q>
                                                    <p class="rating"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> Bibek Dahal </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12 wow animated fadeInUp animated animated animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3 col-xs-12">  <div class="round_img">  <img src="~/img/ro.jpg"> </div>  </div>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <q>Just come and explore yuourself. </q>
                                                    <p class="rating"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> Joey Fernandez </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-12 margin-t-20 wow animated fadeInUp animated animated animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3 col-xs-12"> <div class="round_img">  <img src="~/img/mou.jpg"> </div>  </div>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <q>Dealmart is the ultimate place for any customer who want the good quality on good price. </q>
                                                    <p class="rating"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> Thanos </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12 wow animated fadeInUp animated animated animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3 col-xs-12">  <div class="round_img">  <img src=""~/img/ch.jpg" </div>  </div>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <q>Dealmart is the ultimate place for any customer who want the good quality on good price. </q>
                                                    <p class="rating"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> Captain America </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-12 margin-t-20 wow animated fadeInUp animated animated animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3 col-xs-12"> <div class="round_img">  <img src="ch.jpg"> </div>  </div>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <q> I love dealmart. </q>
                                                    <p class="rating"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> Thor </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container pt-5">

        <div class="row">
            <h3>Trending</h3>
        </div>
        <div class="row">
            <div class="underline"></div>
        </div>
    </div>



    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img src="~/img/Drakes.jfif" alt="card-1" class="card-img-top">
                    <div class="card-body">
                        <h5>Physics</h5>
                        <h6>$34.00</h6>
                        <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="~/img/Drakes.jfif" alt="card-1" class="card-img-top">
                    <div class="card-body">
                        <h5>Biology</h5>
                        <h6>$34.00</h6>
                        <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="~/img/Horror1.jfif" alt="card-1" class="card-img-top">
                    <div class="card-body">
                        <h5>None</h5>h5>
                        <h6>$34.00</h6>
                        <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                    </div>
                </div>
            </div>



            <div class="col-md-3">
                <div class="card">
                    <img src="~/img/Horror1.jfif" alt="card-1" class="card-img-top">
                    <div class="card-body">
                        <h5>Nonep</h5>
                        <h6>$34.00</h6>
                        <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container mt-5">

        <div class="row">
            <h3>HORROR</h3>
        </div>
        <div class="row">
            <div class="underline"></div>
        </div>
    </div>


    <div class="container mt-5 pb-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img src="~/img/Horror1.jfif" alt="card-1" class="card-img-top">
                    <div class="card-body">
                        <h5>dffsdfdsfsd</h5>
                        <h6>$34.00</h6>
                        <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="~/img/Drakes.jfif" alt="card-1" class="card-img-top">
                    <div class="card-body">
                        <h5>fsdfsdfsdf</h5>
                        <h6>$34.00</h6>
                        <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="~/img/Drakes.jfif" alt="card-1" class="card-img-top">
                    <div class="card-body">
                        <h5>None</h5>
                        <h6>$34.00</h6>
                        <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                    </div>
                </div>
            </div>



            <div class="col-md-3">
                <div class="card">
                    <img src="~/img/Drakes.jfif" alt="card-1" class="card-img-top">
                    <div class="card-body">
                        <h5>None </h5>
                        <h6>$34.00</h6>
                        <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="container-fluid pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <h4>MOST WANTED</h4>
                    </div>
                    <div class="row">
                        <div class="underline-green"></div>
                    </div>
                    <div class="media mt-5">
                        <img src="~/img/Drakes.jfif" class="img-fluid mr-3" alt="media1">
                        <div class="media-body mt-2">
                            <h5>None</h5>
                            <h6>$35.00</h6>
                            <button class="btn btn-success"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                        </div>
                    </div>

                    <div class="media mt-5">
                        <img src="~/img/Drakes.jfif" class="img-fluid mr-3" alt="media1">
                        <div class="media-body mt-2">
                            <h5>None</h5>
                            <h6>$25.00</h6>
                            <button class="btn btn-success"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                        </div>
                    </div>


                    <div class="media mt-5">
                        <img src="~/img/Drakes.jfif" class="img-fluid mr-3" alt="media1">
                        <div class="media-body mt-2">
                            <h5>None</h5>
                            <h6>$75.00 <span style="text-decoration: line-through">$99.00</span></h6>
                            <button class="btn btn-success"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                        </div>
                    </div>
                </div>




                <div class="col-md-4">
                    <div class="row">
                        <h4>Sale<h4>
                    </div>
                    <div class="row">
                        <div class="underline-blue"></div>
                    </div>
                    <div class="media mt-5">
                        <img src="~/img/Drakes.jfif" class="img-fluid mr-3" alt="media1">/
                        <div class="media-body mt-2">
                            <h5>None</h5>
                            <h6>$23.00</h6>
                            <button class="btn btn-primary"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                        </div>
                    </div>

                    <div class="media mt-5">
                        <img src="~/img/Drakes.jfif" class="img-fluid mr-3" alt="media1">
                        <div class="media-body mt-2">
                            <h5>None</h5>
                            <h6>$36.00</h6>
                            <button class="btn btn-primary"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                        </div>
                    </div>

                    <div class="media mt-5">
                        <img src="~/img/Drakes.jfif" class="img-fluid mr-3" alt="media1">
                        <div class="media-body mt-2">
                            <h5>None</h5>
                            <h6>$37.00</h6>
                            <button class="btn btn-primary"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                        </div>
                    </div>
                </div>



                <div class="col-md-4">
                    <div class="row">
                        <h4>ON (30% discount after 50%)</h4>
                    </div>
                    <div class="row">
                        <div class="underline-black"></div>
                    </div>
                    <div class="media mt-5">
                        <img src="~/img/Drakes.jfif" class="img-fluid mr-3" alt="media1">
                        <div class="media-body mt-2">
                            <h5>None</h5>
                            <h6>$46.00</h6>
                            <button class="btn btn-dark"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                        </div>
                    </div>

                    <div class="media mt-5">
                        <img src="~/img/Drakes.jfif" class="img-fluid mr-3" alt="media1">
                        <div class="media-body mt-2">
                            <h5>faff</h5>
                            <h6>$36.00</h6>
                            <button class="btn btn-dark"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                        </div>
                    </div>

                    <div class="media mt-5">
                        <img src="~/img/Drakes.jfif" class="img-fluid mr-3" alt="media1">
                        <div class="media-body mt-2">
                            <h5>
                                sadsadas<h5>
                                    <h6>$25.00</h6>
                                    <button class="btn btn-dark"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>



    <div class="container-fluid bg-light-gray pt-5 pb-5">

        <div class="container mt-0">
            <div class="row">
                <h4>FEATURED</h4>
            </div>
            <div class="row">
                <div class="underline"></div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <img src="~/img/Drakes.jfif" class="card-img-top">
                        <div class="card-body">
                            <h4>sfdsfdsfsd</h4>
                            <h6>$67.87</h6>
                            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <img src="~/img/Drakes.jfif" class="card-img-top">
                        <div class="card-body">
                            <h4>dsadsad</h4>
                            <h6>$67.87</h6>
                            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <img src="~/img/Drakes.jfif" class="card-img-top">
                        <div class="card-body">
                            <h4>dsadsadas</h4>
                            <h6>$67.87</h6>
                            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <img src="~/img/Drakes.jfif" class="card-img-top">
                        <div class="card-body">
                            <h4>fdsfdsf</h4>
                            <h6>$67.87</h6>
                            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br />


    <script src="js/wow.min.js"></script>
    <script src="assets/plugins/jquery/js/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

</body>